<!DOCTYPE html>
<html lang="en">
  <%- include('common/head'); %>

  <body>
    <!-- Header Section start -->
    <%- include('common/header'); %>
    <!-- Header  Section start -->

    <!-- breedcrumb section start  -->
    <div class="section breedcrumb">
      <div class="breedcrumb__img-wrapper">
        <img src="src/images/banner/breedcrumb.jpg" alt="breedcrumb" />
        <div class="container">
          <ul class="breedcrumb__content">
            <li>
              <a href="/">
                <svg
                  width="18"
                  height="19"
                  viewBox="0 0 18 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 8L9 1L17 8V18H12V14C12 13.2044 11.6839 12.4413 11.1213 11.8787C10.5587 11.3161 9.79565 11 9 11C8.20435 11 7.44129 11.3161 6.87868 11.8787C6.31607 12.4413 6 13.2044 6 14V18H1V8Z"
                    stroke="#808080"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span> > </span>
              </a>
            </li>
            <li>
              <a href="">
                Account
                <span> > </span>
              </a>
            </li>
            <li class="active">
              <a href="/order_details">Order Details</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- breedcrumb section end   -->

    <!-- dashboard Secton Start  -->
    <div class="dashboard section">
      <div class="container">
        <div class="row dashboard__content">
          <div class="col-lg-3"><%- include('common/user_nav'); %></div>
          <div class="col-lg-9 section--xl pt-0">
            <div class="container">
              <!-- Order History  -->
              <div class="dashboard__order-history">
                <div class="dashboard__order-history-title">
                  <h2 class="font-body--xxl-500">Order Details</h2>
                  <a href="/order_history">back to list</a>
                </div>

                <div class="dashboard__details-content">
                  <% data.forEach(function (data) { %> <% if(data.status ==
                  'Order_Delivered') { %>

                  <div class="alert alert-success" role="alert">
                    <strong>Order Already Delivered. Thank You❤️!!!</strong>
                  </div>

                  <% }else if(data.status == 'Order_Pending'){ %>

                  <div class="alert alert-primary" role="alert">
                    <strong
                      >Order Will Be Accepted Within 30 Minutes. Thank You For
                      Order❤️!!!</strong
                    >
                  </div>

                  <% }else if(data.status == 'Order_Rejected'){ %>

                  <div class="alert alert-danger" role="alert">
                    <strong>We Can't Deliver Your Order. Sorry🙂!!</strong>
                  </div>

                  <% }else if(data.status == 'Order_Shipping'){%>

                  <div class="alert alert-danger" role="alert">
                    <strong>Your order has shipped. Thank You❤️!!!</strong>
                  </div>

                  <% }else if(data.status == 'Order_Packing'){ %>

                  <div class="alert alert-warning" role="alert">
                    <strong>Your order is being Packed. Thank You❤️!!!</strong>
                  </div>

                  <% } %> <% }) %>

                  <div class="row">
                    <div class="col-xl-4">
                      <div class="dashboard__details-card">
                        <div class="dashboard__details-card-item">
                          <h5 class="dashboard__details-card-title">
                            Shipping Address
                          </h5>
                          <!-- Shipping Address -->
                          <div class="dashboard__details-card-item__inner">
                            <h2 class="font-body--lg-400 name">
                              <%= data[0].name %>
                            </h2>
                            <p class="font-body--md-400">
                              <%= data[0].address %>
                            </p>
                          </div>
                          <div class="dashboard__details-card-item__inner">
                            <div
                              class="dashboard__details-card-item__inner-contact"
                            >
                              <h5 class="title">Email</h5>
                              <p class="font-body--md-400">
                                <%= data[0].email %>
                              </p>
                            </div>
                            <div
                              class="dashboard__details-card-item__inner-contact"
                            >
                              <h5 class="title">Phone</h5>
                              <p class="font-body--md-400">
                                <%= data[0].phonenumber %>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-8">
                      <div class="dashboard__totalpayment-card">
                        <div class="dashboard__totalpayment-card-header">
                          <div class="dashboard__totalpayment-card-header-item">
                            <h5 class="title">Order id:</h5>
                            <p class="details order-id"><%= data[0]._id %></p>
                          </div>
                          <div class="dashboard__totalpayment-card-header-item">
                            <h5 class="title">Payment Method:</h5>
                            <p class="details order-id">Cash On Delivery</p>
                          </div>
                        </div>

                        <div class="dashboard__totalpayment-card-body">
                          <div class="dashboard__totalpayment-card-body-item">
                            <h5 class="font-body--md-400">Subtotal:</h5>
                            <p class="font-body--md-500">
                              <%= data[0].totalprice%>
                            </p>
                          </div>

                          <div class="dashboard__totalpayment-card-body-item">
                            <h5 class="font-body--md-400">Shipping:</h5>
                            <p class="font-body--md-500">Free</p>
                          </div>
                          <div
                            class="dashboard__totalpayment-card-body-item total"
                          >
                            <h5 class="font-body--xl-400">Total:</h5>
                            <p class="font-body--xl-500">
                              RS. <%= data[0].totalprice%>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="dashboard__order-history-table dashboard__order-history-table__product-content"
                >
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th
                            scope="col"
                            class="dashboard__order-history-table-title"
                          >
                            Product
                          </th>
                          <th
                            scope="col"
                            class="dashboard__order-history-table-title"
                          >
                            Price
                          </th>
                          <th
                            scope="col"
                            class="dashboard__order-history-table-title"
                          >
                            quantity
                          </th>
                          <th
                            scope="col"
                            class="dashboard__order-history-table-title"
                          >
                            Subtotal
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <% data.forEach(function (data) { %> <% for(var key in
                        data.items) { %>

                        <tr>
                          <!-- Product item  -->
                          <td
                            class="dashboard__order-history-table-item align-middle"
                          >
                            <a
                              href="product-details.html"
                              class="dashboard__product-item"
                            >
                              <div class="dashboard__product-item-img">
                                <img
                                  src="../../admin/admin_src/assets/images/product/<%= data.items[key].items.product_photo %>"
                                  alt="product"
                                />
                              </div>
                              <h5 class="font-body--md-400">
                                <%= data.items[key].items.name %>
                              </h5>
                            </a>
                          </td>
                          <!-- Price  -->
                          <td
                            class="dashboard__order-history-table-item order-date align-middle"
                          >
                            RS <%= data.items[key].items.MRP %>
                          </td>
                          <!-- quantity -->
                          <td
                            class="dashboard__order-history-table-item order-total align-middle"
                          >
                            <p class="order-total-price">
                              <%= data.items[key].qty %>
                            </p>
                          </td>
                          <!-- Subtotal  -->
                          <td
                            class="dashboard__order-history-table-item order-status align-middle"
                            style="text-align: left"
                          >
                            <p class="font-body--md-500">
                              RS <%= data.items[key].items.MRP *
                              data.items[key].qty %>
                            </p>
                          </td>
                        </tr>

                        <% } %> <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- dashboard Secton  End  -->

    <script src="src/lib/js/jquery.min.js"></script>
    <script src="src/lib/js/swiper-bundle.min.js"></script>
    <script src="src/lib/js/bvselect.js"></script>
    <script src="src/lib/js/bootstrap.bundle.min.js"></script>
    <script src="src/js/main.js"></script>
  </body>
</html>
>
