<!doctype html>
<html lang="en">

<%- include('common/admin_head'); %>

<body>


<%- include('common/sidebar'); %>


<!-- layout-wrapper -->
<div class="layout-wrapper">

    <!-- header -->
    <div class="header">
    <div class="menu-toggle-btn"> <!-- Menu close button for mobile devices -->
        <a href="#">
            <i class="bi bi-list"></i>
        </a>
    </div>
    <!-- Logo -->
    <a href="index.html" class="logo">
        <img width="100" src="https://vetra.laborasyon.com/assets/images/logo.svg" alt="logo">
    </a>
    <!-- ./ Logo -->
    <div class="page-title">Dashboard</div>
   
</div>
    <!-- ./ header -->

    <!-- content -->
    <div class="content ">
        
    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col-lg-4 col-md-12">
            <div class="card h-80">
                <div class="card-body">
                    <div class="d-flex mb-3">
                        <div class="display-7">
                            <i class="bi bi-basket"></i>
                        </div>
                        
                    </div>
                    <h4 class="mb-3">Order Request</h4>
                    <div class="d-flex mb-3">
                        <div class="display-7"><%= locals.order_request %></div>
                        
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card h-80">
                <div class="card-body">
                    <div class="d-flex mb-3">
                        <div class="display-7">
                            <i class="bi bi-credit-card-2-front"></i>
                        </div>
                        
                    </div>
                    <h4 class="mb-3">Order Completed</h4>
                    <div class="d-flex mb-3">
                        <div class="display-7"><%= locals.order_completed %></div>
                       
                    </div>
                   
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="card h-80">
                <div class="card-body">
                    <div class="d-flex mb-3">
                        <div class="display-7">
                            <i class="bi bi-person-badge"></i>
                        </div>
                        
                    </div>
                    <h4 class="mb-3">Customer</h4>
                    <div class="d-flex mb-3">
                        <div class="display-7"><%= locals.no_of_customer %></div>
                    
                    </div>
                   
                </div>
            </div>
        </div>
       

       

</div>

<script src="admin_src/libs/bundle.js"></script>

<script src="admin_src/libs/charts/apex/apexcharts.min.js"></script>

<script src="admin_src/libs/slick/slick.min.js"></script>

<script src="admin_src/dist/js/examples/dashboard.js"></script>

<script src="admin_src/dist/js/app.min.js"></script>
</body>

</html>

